<%- include('./shared/header.ejs', {title: 'Welcome Here' } ) %>

  <h1>
    <% if (locals.title){ %>
      <%= title %>
        <% } %>
  </h1>

  <div class="container">
    <h1 class="my-5">Welcome here</h1>
  </div>

  <div class="row row-cols-2">
    <% for (const post of posts) { %>
      <div class="col mb-2">
        <%- include('./shared/post.ejs', {post}) %>
      </div>
      <% } %>
  </div>

  <%- include('./shared/footer.ejs') %>