<%- include('./shared/header.ejs', {title: 'Welcome Here' } ) %>

  <h1>
    <% if (locals.title){ %>
      <%= title %>
        <% } %>
  </h1>

  <div class="container">
    <h1>Welcome here</h1>
  </div>

  <ul>
    <% for(const post of posts) { %>
      <li>
        <%= post.title %>
      </li>
      <% } %>
  </ul>

  <%- include('./shared/footer.ejs') %>